:root{
    --main-color-dark:#00ffff;
}
.darkMode{
    background-color: black;
}
.darkMode header{
    background-color: black;
    color: white;
}
.darkMode header h3{
    color: white;
}
.darkMode header h3:hover{
    color: var(--main-color-dark);
}
.darkMode header .container nav a{
    color: white;
}
.darkMode header .container nav a:hover{
    color: var(--main-color-dark);
    background-color: #333;
    font-weight: bold;
}
.darkMode header .container nav a:hover::before,
.darkMode header .container nav a:hover::after{
    background-color: var(--main-color-dark);
}
.darkMode header .container button{
    background-color: var(--main-color-dark);
    color: black;
}
.darkMode header .container button:hover{
    opacity: 0.9;
}
.darkMode .landing{
    position: relative;
}
.darkMode .landing::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0 , 0.7);
}
.darkMode .landing .container{
    position: relative;
    z-index: 2;
}
.darkMode .landing .container .text h1{
    color: var(--main-color-dark);
}
.darkMode .filter .container button{
    background-color: white;
}
.darkMode .filter .container button:hover{
    background-color: var(--main-color-dark);
    color: black;
    opacity: 0.9;
}
.darkMode .filter .container button.active{
    background-color: var(--main-color-dark);
    color: black;
}
.darkMode .products .product{
    color: white;
    border-color: var(--main-color-dark);
}
.darkMode .products .product h3{
    color: var(--main-color-dark);
}
.darkMode .products .product::before{
    background-color: #333;
}